@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* Carousel Banner */
.banner .owl-dots {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.banner .owl-dot.active span {
  background-color: white !important;
  width: 15px !important;

}

.banner .owl-dot span {
  background-color: white !important;
  width: 5px !important;
  height: 5px !important;
  border-radius: 5px;
  margin: 2px !important;
}

.detil-produk-carousel .owl-dots {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 5px;
}

.detil-produk-carousel .owl-dot.active span {
  background-color: red !important;

}

.detil-produk-carousel .owl-dot span {
  background-color: grey !important;
  border-radius: 5px;
  margin: 2px !important;
}

/* End of Carousel Banner */

/* Carousel Category */
.owl-carousel.category .owl-dots {
  display: none;
}

footer a {
  display: none;
}

footer li.active .logo-footer {
  display: none;
}


/* End of Carousel Category */
#profile {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#profile.active {
  opacity: 1;
  visibility: visible;
}

#content-profile {
  opacity: 0.1;
  transition: 0.5s;
  transform: translateY(100%);
}

#content-profile.active {
  opacity: 1;
  transform: translateY(0);
}

.profile-aksi {
  font-family: 'Poppins', sans-serif;
}

#modal-promo {
  font-family: 'Poppins', sans-serif;
}

.profile-logout {
  font-family: 'Poppins', sans-serif;
}

/* .detil-produk-image img.active {
  left: 200px;
} */

.slider {
  overflow: hidden;
}

.slides {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides>img {
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  overflow: hidden;
  /* transform: translateX(100%); */
}

.slides img.active {
  /* transform: translateX(0); */
}

#modal-cek-ongkir {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-cek-ongkir.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-promo {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-promo.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-blog {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);

}

#modal-blog.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-konfirmasi-pembayaran {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-konfirmasi-pembayaran.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-cara-order {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-cara-order.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-join-reseller {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-join-reseller.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-testimoni {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-testimoni.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-tentang-kami {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-tentang-kami.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-menunggu-pembayaran {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-menunggu-pembayaran.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-cart {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(100%);
}

#modal-cart.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

#modal-checkut {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(100%);
}

#modal-checkout.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

#checkout-option-provinsi .checkout-option-background{
  /* transition: 0.5s; */
  visibility: hidden;
}

#checkout-option-provinsi .checkout-option-background.active{
  visibility: visible;
}

#checkout-option-provinsi .pembungkus-checkout-option{
  transition: 0.5s;
  transform: translateY(100%);
}

#checkout-option-provinsi .pembungkus-checkout-option.active{
  transform: translateY(0);
}



input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

.cart-footer {
  box-shadow: 0px 50px 90px gray;
}