@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* Carousel Banner */
.banner .owl-dots {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.banner .owl-dot.active span {
  background-color: white !important;
  width: 15px !important;

}

.banner .owl-dot span {
  background-color: white !important;
  width: 5px !important;
  height: 5px !important;
  border-radius: 5px;
  margin: 2px !important;
}

.detil-produk-carousel .owl-dots {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 5px;
}

.detil-produk-carousel .owl-dot.active span {
  background-color: red !important;

}

.detil-produk-carousel .owl-dot span {
  background-color: grey !important;
  border-radius: 5px;
  margin: 2px !important;
}

/* End of Carousel Banner */

/* Carousel Category */
.owl-carousel.category .owl-dots {
  display: none;
}

footer a {
  display: none;
}

footer li.active .logo-footer {
  display: none;
}


/* End of Carousel Category */
#profile {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}


#profile.active {
  opacity: 1;
  visibility: visible;
}

#content-profile {
  opacity: 0.1;
  transition: 0.5s;
  transform: translateY(100%);
}

#content-profile.active {
  opacity: 1;
  transform: translateY(0);
}

.profile-aksi {
  font-family: 'Poppins', sans-serif;
}

#modal-promo {
  font-family: 'Poppins', sans-serif;
}

.profile-logout {
  font-family: 'Poppins', sans-serif;
}

/* .detil-produk-image img.active {
  left: 200px;
} */

.slider {
  overflow: hidden;
}

.slides {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides>img {
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  overflow: hidden;
  /* transform: translateX(100%); */
}

.slides img.active {
  /* transform: translateX(0); */
}

#modal-cek-ongkir {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-cek-ongkir.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-promo {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-promo.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-blog {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);

}

#modal-blog.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-konfirmasi-pembayaran {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-konfirmasi-pembayaran.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-cara-order {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-cara-order.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-join-reseller {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-join-reseller.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-testimoni {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-testimoni.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-tentang-kami {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-tentang-kami.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#modal-cart, #modal-halaman-login, #modal-halaman-registrasi {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(100%);
}

#modal-cart.active, #modal-halaman-login.active, #modal-halaman-registrasi.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

/* Chekout */

#modal-checkout {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(100%);
}

#modal-checkout.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

/* End of Checkout */

/* Option Provinsi */

#checkout-option-provinsi .checkout-option-background {
  /* transition: 0.5s; */
  visibility: hidden;
}

#checkout-option-provinsi .checkout-option-background.active {
  visibility: visible;
}

#checkout-option-provinsi .pembungkus-checkout-option {
  transition: 0.5s;
  transform: translateY(100%);
}

#checkout-option-provinsi .pembungkus-checkout-option.active {
  transform: translateY(0);
}

/* End of option Provinsi */



/* Option Kota */
#checkout-option-kota .checkout-option-background {
  visibility: hidden;
}

#checkout-option-kota .checkout-option-background.active {
  visibility: visible;
}

#checkout-option-kota .pembungkus-checkout-option {
  transition: 0.5s;
  transform: translateY(100%);
}

#checkout-option-kota .pembungkus-checkout-option.active {
  transform: translateY(0);
}

/* End of option kota */


/* Option kecamatan */
#checkout-option-kecamatan .checkout-option-background {
  visibility: hidden;
}

#checkout-option-kecamatan .checkout-option-background.active {
  visibility: visible;
}

#checkout-option-kecamatan .pembungkus-checkout-option {
  transition: 0.5s;
  transform: translateY(100%);
}

#checkout-option-kecamatan .pembungkus-checkout-option.active {
  transform: translateY(0);
}

/* End of option kecamatan */

/* Pembayaran */
#modal-pembayaran {
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-pembayaran.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* End of pembayaran */

/* Preview , detil profile*/
#modal-preview,
#modal-detil-profile,
#modal-kelola-alamat,
#modal-tambah-alamat,
.modal-detil-blog,
.modal-detil-promo {
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-preview.active,
#modal-detil-profile.active,
#modal-kelola-alamat.active,
#modal-tambah-alamat.active,
.modal-detil-blog.active,
.modal-detil-promo.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#preview-total .preview-total-background {
  /* transition: 0.5s; */
  visibility: hidden;
}

#preview-total .preview-total-background.active {
  visibility: visible;
}

#preview-total .pembungkus-preview-total {
  transition: 0.5s;
  transform: translateY(100%);
}

#preview-total .pembungkus-preview-total.active {
  transform: translateY(0);
}

/* Pesanan saya */
#modal-pesanan-saya {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

#modal-pesanan-saya.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#belum-bayar-content,
#dikemas-content,
#dikirim-content,
#pesanan-selesai-content {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  position: fixed;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(100%);
}

#belum-bayar-content.active,
#dikemas-content.active,
#dikirim-content.active,
#pesanan-selesai-content.active {
  position: relative;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

/* End of pesanan saya */
.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-y-scroll::-webkit-scrollbar {
  -ms-overflow-style: none;
  /* IE dan Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Detil produk */
.detil-produk {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.detil-produk.active {
  position: fixed;
  visibility: visible;
  opacity: 1;
}

.footer-detil-produk-beli-sekarang,
.footer-detil-produk-tambah-keranjang {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s;
}

.footer-detil-produk-beli-sekarang.active,
.footer-detil-produk-tambah-keranjang.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.detil-produk.active .background {
  transition: 0.5s;
  visibility: hidden;
}

.detil-produk.active .background.active {
  visibility: visible;
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

.cart-footer {
  box-shadow: 0px 50px 90px gray;
}

.shadow-button {
  box-shadow: 0px 5px 10px gray;
}

.card-shadow {
  box-shadow: 0px 2px 10px gray;
}

.footer-detil-produk {
  box-shadow: 0px 4px 20px gray;
}

.footer-detil-produk-beli-sekarang {
  background-color: rgba(0, 0, 0, 0.5);
}